 
.title{
    display: flex;
    justify-content: center;
    font-family: 'Pacifico';
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .group-header {
    width: fit-content;
    margin-bottom: 40px;
    color: rgb(255, 174, 0);
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
  }
  
  .group-header::after,
  .group-header::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: spin 3s linear infinite;
  }
  

  
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  


